extends layout

block content
  h1#pagetitle Country Landmarks
    body(style = 'background-image: url(http://www.leger.co.uk/blog/wp-content/uploads/2016/02/eiffel-tower-1576.jpg);background-size: cover')
      .countryselect
        button.dropdown Select Country
        .countries
          a#Canada Canada
          a#USA United States of America
          a#Russia Russia
          a#China China
          a#Japan Japan
          a#Mexico Mexico
      #map
      #firstcountry
      #secondcountry
      #thirdcountry
      #firstcountryinfo.countryinfo
        h2#title1.infotitle
        button#save1.save Save
      #secondcountryinfo.countryinfo
        h2#title2.infotitle
        button#save2.save Save
      #thirdcountryinfo.countryinfo
        h2#title3.infotitle
        button#save3.save Save
      #savedplaces
        button#savedshow Show landmarks
        #displaysaved
      script(src='/javascripts/googleapi.js')
      script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBGT9DtN2cOFyQW8CY5GD7cHYbeWsBoox8&callback=initMap')