extends layout

block content

  body(style = 'background-image: url(http://www.leger.co.uk/blog/wp-content/uploads/2016/02/eiffel-tower-1576.jpg);background-size: cover')
    .countryselect
      input#countrysearch(type='text', placeholder='Enter a country or city')
      button#searchbutton(onclick= "loadDoc()") Search
      button#savedshow Show landmarks
    #map
    #countrypic
      #countryinfo
        h2#title1.infotitle
        button#save1.save Save
      #savedplaces
        #displaysaved
        button#savedclose Close
      script(src='/javascripts/FinalMainAppJavaScript.js')
      script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBGT9DtN2cOFyQW8CY5GD7cHYbeWsBoox8&callback=initMap')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
