<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel=stylesheet type=text/css />
  </head>
  <body>
    <div id="loginbox">
      <h2 id="credentialsinfo">Enter your credentials</p>
      <input type="text" id="login" placeholder="Enter your login"></input>
      <input type="password" id="password" placeholder="Enter your password"></input>
      <button id="login">Click to login</button>
    </div>
  </body>
</html>
