<!DOCTYPE html>
<html>
  <head>
      <title>Landmarks Login</title>
    <link href="style.css" rel=stylesheet type=text/css />
  </head>
  <body>
    <div id="loginbox">
<<<<<<< HEAD
      <h2 id="credentialsinfo">Enter your Credentials</h2>
        <input class="logins" id="user" type="text" placeholder="Enter your username">
        <input class="logins" id="pass" type="password" placeholder="Enter your password">
        <button class="loginbutton" id="login">Log in</button>

=======
      <h2 id="credentialsinfo">Enter your credentials</h2>
      <input type="text" id="login" placeholder="Enter your login"/>
      <input type="password" id="password" placeholder="Enter your password"/>
      <button id="login">Click to login</button>
>>>>>>> 96db9b7c1ee50244ba9551f33e52550bc2b1e662
    </div>
  </body>
</html>
