<!DOCTYPE html>
<html>
  <head>
    <title>Landmarks Page</title>
    <link href="style.css" rel=stylesheet type=text/css />
  </head>
  <body>

    <div class=countryselect>
      <button class="dropdown">Select Country</button>
      <div class="countries">
        <a href="#">Canada</a>
        <a href="#">United States of America</a>
        <a href="#">Russia</a>
        <a href="#">China</a>
        <a href="#">Japan</a>
        <a href="#">Mexico</a>
      </div>
    </div>

  </body>
</html>
