<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="loginbox">
      <input type="text" id="login">Enter your login</input>
      <input type="password" id="password">Enter your password></input>
    </div>
  </body>
</html>
