<!DOCTYPE html>
<html>
  <head>
      <title>Landmarks Login</title>
    <link href="style.css" rel=stylesheet type=text/css />
  </head>
  <body>
    <div id="loginbox">
      <h2 id="credentialsinfo">Enter your Credentials</h2>
        <input class="logins" id="user" type="text" placeholder="Enter your username">
        <input class="logins" id="pass" type="password" placeholder="Enter your password">
        <button class="loginbutton" id="login">Log in</button>
    </div>
  </body>
</html>
