<!DOCTYPE html>
<html>
  <head>
  <title>Landmarks Page</title>
  <link href="style.css" rel=stylesheet type=text/css />
  </head>
  <body>

  <div class=countryselect>
    <button class="dropdown">Select Country</button>
    <div class="countries">
      <a id=Canada>Canada</a>
      <a id=USA>United States of America</a>
      <a id=Russia>Russia</a>
      <a id=China>China</a>
      <a id=Japan>Japan</a>
      <a id=Mexico>Mexico</a>
    </div>
  </div>

  <div id=map></div>
  <div id="firstcountry"></div>
  <div id="secondcountry"></div>
  <div id="thirdcountry"></div>

    <script src="googleapi.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGT9DtN2cOFyQW8CY5GD7cHYbeWsBoox8&callback=initMap">
    </script>
  </body>
</html>
