/*title*/
#title {
    position: absolute;
    top:-4px;
    left:35%;
    font-family:sans-serif;
}

#logoutbutton {
    position:absolute;
    padding:5px;
    top:2%;
    right:2%;
    width:100px;
    height:50px;
    text-align:center;
    font-family: "Helvetica", Arial, sans-serif;
    font-size:100%;
    color:white;
    background-color:rgba(60,60,60,0.6);
}

.pagetitle {
    font-family: "Helvetica", Arial, sans-serif;
    font-size:350%;
    color:white;
    margin:30px;
}

/*select country div*/
.countryselect {
  position: absolute;
  display:inline-block;
    left:4.5%;
    top:15%;
}

/*dropdown button*/
.dropdown {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  color:white;
  background-color:rgba(60,60,60,0.6);
}

.countries {
  display: none;
  position:absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.countries a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.countries a:hover {
    background-color: grey;
}

/*show downdown on hover*/
.countryselect:hover .countries {
    display:block;
}

.countryselect:hover .dropdown {
  background-color: grey;
}

/*the map*/

#map {
  height: 70vh;
  width: 60vw;
  top: 15%;
  right: 22%;
  position: absolute;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

/*the three landmarks that show info */

#firstcountry {
  position: absolute;
  height: 25%;
  width:20%;
  top: 15%;
  right:0.5%;
  border-style: solid;
  border-width: thick;
  background-size: cover;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

#secondcountry {
  position: absolute;
  height: 25%;
  width: 20%;
  top: 43%;
  right:0.5%;
  border-style: solid;
  border-width: thick;
  background-size: cover;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

#thirdcountry {
  position: absolute;
  height: 25%;
  width: 20%;
  top: 71%;
  right:0.5%;
  border-width: thick;
  border-style: solid;
  background-size: cover;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

/*this is for the login page*/

#loginbox {
  position: absolute;
  top:30%;
  left:28%;
  width: 45%;
  height: 45%;
  border-style: solid;
  border-width: thick;
}

#credentialsinfo {
  position: absolute;
  align-content: center;
  top: 5%;
  width: 50%;
  height: 10%;
    left:35%;
}

.logins {
    border-style: solid;
  border-width: medium;
    height:5%;
}

#user {
    position:absolute;
    top:45%;
    left:20%;
}

#pass {
    position:absolute;
    top:45%;
    left:55%;
}

.loginbutton {
    position: absolute;
    top:80%;
    left:40%;
    width:15%;
}

.countryinfo {
    left:78.5%;
    top:10%;
    position: absolute;
    height: 24%;
    width: 20%;
    border-style: solid;
    border-width: thick;
    background-color: rgba(0,0,0,0.7);
}



#firstcountryinfo {
    top: 15%;
    height: 25%;
    width:20%;
    right:1%;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

#secondcountryinfo {
    top:43%;
    height: 25%;
    width:20%;
    right:1%;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

#thirdcountryinfo {
    right: 22%;
    top:71%;
    height: 25%;
    width:20%;
    right:1%;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

.save {
    position: absolute;
    bottom: 10%;
    left: 42%;
    display: block;
}

.text {
    position: absolute;
    bottom:30%;
    left: 23%;
    display: block;
}

#savedplaces {
  height: 50vh;
  width: 12vw;
  top: 35%;
  left: 2.5%;
  position: absolute;
  background-color: white;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
  background-color:rgba(255,255,255,0.8);
}

#savedemail {
  width:90%;
  position:absolute;
  height:5%;
  top:5%;
  left:5%;
}

#savedshow {
  width:90%;
  height:6%;
  position:absolute;
  top: 2%;
  left:5%;
}

#displaysaved {
  width:90%;
  height:86.5%;
  position:absolute;
  top:10%;
  left:2.5%;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
  overflow: auto;
}

.infotitle {
  color: white;
  position:absolute;
  text-align: center;
  top: 10%;
  left:0px;
  right: 0px;
  margin: auto;
}

#pagetitle {
  text-align: center;
  font-family: sans-serif;
  font-size: 3vw;
}

#logoutdiv{
    border-style: solid;
    position: absolute;
    top: 0px;
    right: 15px;
    width: 275px;
    height: 80px;
}

#logout {
    position: absolute;
    width:100px;
    height:40px;
    top:20px;
    right: 20px;
}
