/*select country div*/
.countryselect {
  position: absolute;
  display:inline-block;
    left:5%;
    top:3%;
}

/*dropdown button*/
.dropdown {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.countries {
  display: none;
  position:absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.countries a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.countries a:hover {
    background-color: grey;
}

/*show downdown on hover*/
.countryselect:hover .countries {
    display:block;
}

.countryselect:hover .dropdown {
  background-color: grey;
}

/*the map*/

#map {
  height: 50vh;
  width: 50vw;
  top: 20%;
  right: 40%;
  position: absolute;
}

/*the three landmarks that show info */

#firstcountry {
  position: absolute;
  height: 25%;
  width:20%;
  top: 15%;
  border-style: solid;
  border-width: thick;
  background-size: cover;
}

#secondcountry {
  position: absolute;
  height: 25%;
  width: 20%;
  top: 43%;
  border-style: solid;
  border-width: thick;
  background-size: cover;
}

#thirdcountry {
  position: absolute;
  height: 25%;
  width: 20%;
  top: 72%;
  border-width: thick;
  border-style: solid;
  background-size: cover;
}

/*this is for the login page*/

#loginbox {
  position: absolute;
  top:30%;
  left:28%;
  width: 45%;
  height: 45%;
  border-style: solid;
  border-width: thick;
}

#credentialsinfo {
  position: absolute;
  align-content: center;
  top: 5%;
  width: 50%;
  height: 10%;
    left:35%;
}

.logins {
    border-style: solid;
  border-width: medium;
    height:5%;
}

#user {
    position:absolute;
    top:45%;
    left:20%;
}

#pass {
    position:absolute;
    top:45%;
    left:55%;
}

.loginbutton {
    position: absolute;
    top:80%;
    left:40%;
    width:15%;
}
