#message{
  transition: opacity 3s;
}


ul.success li{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	list-style: none;
}

ul.error li{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	list-style: none;

}

form{
	background-color: white;
	padding: 10px;
	width: 40%;
}



.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
}



.astext:hover{
  color: #1943B7;
  cursor: pointer;
}

.full-overlay{
  position: relative;
  z-index: 1;
  height:350px;
  text-align: center;
  padding:40px;
  background-size: cover;
}

/*.main-text {
position: absolute;
top: 30%;
width: 42%;
color:#ECE9E7;
font-weight: bold;
font-size: 28px;
}

.main-text h1 {
font-family: 'Montserrat', sans-serif;
color: #ECE9E7;
font-size: 80px;
}
*/
/*         overlay styles */
/*h1 {
    font-family: 'Lato', sans-serif;
    color: white;
    margin-bottom: 0;
    font-size: 49px;
}*/

.carousel-item{
   -webkit-filter: brightness(29%);
    filter:brightness(29%);
}


.main-container{
  width: 450px;
  height: 200px;
}
.main-wrapper{
  margin: auto;
  background-color: #ccc;
}

a{
  text-decoration: none;
}


body{
	background-image: url('https://hips.hearstapps.com/edc.h-cdn.co/assets/16/25/american-landmarks-mount-rushmore_1.jpg');
	background-repeat: no-repeat;
  background-size: cover;
}



/*title*/
#title {
  position: absolute;
  top:-4px;
  left:35%;
  font-family:sans-serif;
}

#logoutbutton {
  position:absolute;
  padding:5px;
  top:2%;
  right:2%;
  width:100px;
  height:50px;
  text-align:center;
  font-family: "Helvetica", Arial, sans-serif;
  font-size:100%;
  color:white;
  background-color:rgba(60,60,60,0.6);
}

#pagetitle {
  font-family: "Helvetica", Arial, sans-serif;
  font-size:350%;
  color:white;
  margin:30px;
}

/*select country div*/
.countryselect {
  position: absolute;
  display:inline-block;
  left:4.5%;
  top:10%;
}

/*country search input*/
#countrysearch {
  width:41vw;
  height:30px;
  top:15%;
}

#searchbutton {
  height:30px;
  border-radius: 2px;
  background-color:white;
  transition-duration: 0.2s;
}

#searchbutton:hover {
  color:rgb(51,153,255);
}

#savedshow {
  width:125px;
  height:30px;
  position:absolute;
  right:-93%;
  border-radius: 2px;
  background-color:white;
  transition-duration: 0.2s;
}

#savedshow:hover {
  color:rgb(51,153,255);
}

/*the map*/

#map {
  height: 70vh;
  width: 45vw;
  top:16%;
  left:4.5%;
  position: absolute;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

/*the landmark picture that shows info */

#countrypic {
  position: absolute;
  height:60vh;
  width:40vw;
  top: 16%;
  right:9%;
  border-style: solid;
  border-width: thick;
  background-size: cover;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

/*this is for the login page*/

#loginbox {
  position: absolute;
  top:30%;
  left:28%;
  width: 45%;
  height: 45%;
  border-style: solid;
  border-width: thick;
}

#credentialsinfo {
  position: absolute;
  align-content: center;
  top: 5%;
  width: 50%;
  height: 10%;
  left:35%;
}

.logins {
  border-style: solid;
  border-width: medium;
  height:5%;
}

#user {
  position:absolute;
  top:45%;
  left:20%;
}

#pass {
  position:absolute;
  top:45%;
  left:55%;
}

.loginbutton {
  position: absolute;
  top:80%;
  left:40%;
  width:15%;
}


#countryinfo {
  bottom: -27%;
  left: -0.8%;
  position: absolute;
  height: 24%;
  width: 40vw;
  border-style: solid;
  border-width: thick;
  border-color: #666666;
  background-color: rgba(0,0,0,0.7);
  box-shadow: 2px 2px 5px 5px #333333;
}


.save {
  position: absolute;
  bottom: 10%;
  right: 2.5%;
  display: block;
  border-radius: 2px;
  background-color:white;
  transition-duration: 0.2s;
}

.save:hover {
  color:rgb(51,153,255);
}

.text {
  position: absolute;
  bottom:30%;
  left: 23%;
  display: block;
}

#savedplaces {
  height: 50vh;
  width: 12vw;
  top: -11%;
  right: -1%;
  position: absolute;
  background-color: white;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
  background-color:rgba(255,255,255,1);
  display: none;
}

#savedemail {
  width:90%;
  position:absolute;
  height:5%;
  top:5%;
  left:5%;
}

#displaysaved {
  width:90%;
  height:86.5%;
  position:absolute;
  top:2%;
  left:0%;
  right:0%;
  margin:auto;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
}

#savedclose {
  width:90%;
  height:6%;
  position:absolute;
  bottom:3%;
  left:5%;
  font-size: 13px;
  border-radis: 2px;
  background-color:white;
  transition-duration: 0.2s;
}

.infotitle {
  color: white;
  position:absolute;
  text-align: center;
  top: 10%;
  left:0px;
  right: 0px;
  margin: auto;
}
