ul.success li{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	list-style: none;
}

ul.error li{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	list-style: none;

}

form{
	background-color: white;
	padding: 10px;
	width: 40%;
}



.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}



.astext:hover{
  color: #1943B7;
  cursor: pointer;
}

.full-overlay{
  position: relative;
  z-index: 1;
  height:350px;
  text-align: center;
  padding:40px;
  background-size: cover;
}

/*.main-text {
position: absolute;
top: 30%;
width: 42%;
color:#ECE9E7;
font-weight: bold;
font-size: 28px;
}

.main-text h1 {
font-family: 'Montserrat', sans-serif;
color: #ECE9E7;
font-size: 80px;
}
*/
/*         overlay styles */
/*h1 {
    font-family: 'Lato', sans-serif;
    color: white;
    margin-bottom: 0;
    font-size: 49px;
}*/

.carousel-item{
   -webkit-filter: brightness(29%);
    filter:brightness(29%);
}


.main-container{
    width: 450px;
    height: 200px;
}
.main-wrapper{
    margin: auto;
    background-color: #ccc;

}

a{
    text-decoration: none;
}


body{
	background-image: url('https://hips.hearstapps.com/edc.h-cdn.co/assets/16/25/american-landmarks-mount-rushmore_1.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}



/*title*/
#title {
    position: absolute;
    top:-4px;
    left:35%;
    font-family:sans-serif;
}

#logoutbutton {
    position:absolute;
    padding:5px;
    top:2%;
    right:2%;
    width:100px;
    height:50px;
    text-align:center;
    font-family: "Helvetica", Arial, sans-serif;
    font-size:100%;
    color:white;
    background-color:rgba(60,60,60,0.6);
}

#pagetitle {
    font-family: "Helvetica", Arial, sans-serif;
    font-size:350%;
    color:white;
    margin:30px;
}

/*select country div*/
.countryselect {
  position: absolute;
  display:inline-block;
    left:4.5%;
    top:15%;
}

/*dropdown button*/
.dropdown {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  color:white;
  background-color:rgba(60,60,60,0.6);
}

.countries {
  display: none;
  position:absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.countries a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.countries a:hover {
    background-color: grey;
}

/*show downdown on hover*/
.countryselect:hover .countries {
    display:block;
}

.countryselect:hover .dropdown {
  background-color: grey;
}

/*the map*/

#map {
  height: 70vh;
  width: 60vw;
  top: 15%;
  right: 22%;
  position: absolute;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

/*the three landmarks that show info */

#firstcountry {
  position: absolute;
  height: 25%;
  width:20%;
  top: 15%;
  right:0.5%;
  border-style: solid;
  border-width: thick;
  background-size: cover;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

#secondcountry {
  position: absolute;
  height: 25%;
  width: 20%;
  top: 43%;
  right:0.5%;
  border-style: solid;
  border-width: thick;
  background-size: cover;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

#thirdcountry {
  position: absolute;
  height: 25%;
  width: 20%;
  top: 71%;
  right:0.5%;
  border-width: thick;
  border-style: solid;
  background-size: cover;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
}

/*this is for the login page*/

#loginbox {
  position: absolute;
  top:30%;
  left:28%;
  width: 45%;
  height: 45%;
  border-style: solid;
  border-width: thick;
}

#credentialsinfo {
  position: absolute;
  align-content: center;
  top: 5%;
  width: 50%;
  height: 10%;
    left:35%;
}

.logins {
    border-style: solid;
  border-width: medium;
    height:5%;
}

#user {
    position:absolute;
    top:45%;
    left:20%;
}

#pass {
    position:absolute;
    top:45%;
    left:55%;
}

.loginbutton {
    position: absolute;
    top:80%;
    left:40%;
    width:15%;
}

.countryinfo {
    left:78.5%;
    top:10%;
    position: absolute;
    height: 24%;
    width: 20%;
    border-style: solid;
    border-width: thick;
    background-color: rgba(0,0,0,0.7);
}



#firstcountryinfo {
    top: 15%;
    height: 25%;
    width:20%;
    right:1%;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

#secondcountryinfo {
    top:43%;
    height: 25%;
    width:20%;
    right:1%;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

#thirdcountryinfo {
    right: 22%;
    top:71%;
    height: 25%;
    width:20%;
    right:1%;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

.save {
    position: absolute;
    bottom: 10%;
    left: 42%;
    display: block;
}

.text {
    position: absolute;
    bottom:30%;
    left: 23%;
    display: block;
}

#savedplaces {
  height: 50vh;
  width: 12vw;
  top: 35%;
  left: 2.5%;
  position: absolute;
  background-color: white;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
  box-shadow: 2px 2px 5px 5px #333333;
  background-color:rgba(255,255,255,0.8);
}

#savedemail {
  width:90%;
  position:absolute;
  height:5%;
  top:5%;
  left:5%;
}

#savedshow {
  width:90%;
  height:6%;
  position:absolute;
  top: 2%;
  left:5%;
  font-size: 13px;
  color: black;
}

#displaysaved {
  width:90%;
  height:86.5%;
  position:absolute;
  top:10%;
  left:2.5%;
  border-width: thick;
  border-style: solid;
  border-color: #666666;
}

.infotitle {
  color: white;
  position:absolute;
  text-align: center;
  top: 10%;
  left:0px;
  right: 0px;
  margin: auto;
}
